{% extends 'meetups/base/base.html' %}
{% load static %}

{% block title %}
{{ meetup.0.title }}
{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/css/detail.css' %}">
{% endblock %}

{% block main_heading %}
{{ meetup.0.title }}
{% endblock %}

{% block main %}
<article>
    <img src="" alt="">
    <section id="location">
        <h2>Meetup Location</h2>
        <address>
            This meetups takes place in <span>LOCATION</span> (ADDRESS).
        </address>
    </section>
    <section id="details">
        <h2>What's this meetup about?</h2>
        <p>{{ meetup.0.description }}</p>
        <footer>
            <p>Need more details? Please <a href="">contact the organizer</a></p>
        </footer>
    </section>
    <section id="registration">
        <h2>Join us!</h2>
        FORM
    </section>
</article>
{% endblock %}
